* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color:hsl(212, 45%, 89%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 100%;
}

.card{
  width: 320px;
  height: 496px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;

}

.container-img {
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 322px; 
  width: 100%;
}

.img {
  border-radius: 10px;
  width: 288px;
}

.container-body {
  height: 169px; 
  width: 288px; 
  padding: 0px 17px 0px 17px; 
  text-align: center;
  margin-top:7px;
}

.font {
  font-family: 'Outfit', sans-serif;
}

.title {
  font-weight: 700; 
  color: hsl(218, 44%, 22%);
  font-size: 22px;
}

.description {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  font-size: 15px;  
  margin-top: 14px;
} 

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}