@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --white-color: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  /* --grayish-blue: hsl(219, 15%, 55%); */
  --grayish-blue: hsl(222, 14%, 37%);
  --dark-blue: hsl(218, 44%, 22%);
  --font-size-15: 15px;
  --font-family: 'Outfit', sans-serif;
  --font-weight-400: 400;
  --font-weight-700: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size-15);
}

body {
  background-color: var(--light-gray);
  font-family: var(--font-family);
}

main {
  max-width: 96rem;
  margin: 0 auto;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 322px;
  height: 499px;
  background-color: var(--white-color);
  margin: 0.938rem;
  border-radius: 1.333rem;
  padding: 1.133rem;
  box-shadow:
      0 1px 1px hsl(220deg 15% 55% / 0.075),
      0 2px 2px hsl(220deg 15% 55% / 0.075),
      0 4px 4px hsl(220deg 15% 55% / 0.075),
      0 8px 8px hsl(220deg 15% 55% / 0.075),
      0 16px 16px hsl(220deg 15% 55% / 0.075);
}

.card img {
  border-radius: 0.666rem;
}

.card__body {
  text-align: center;
  margin-top: 1.4rem;
}

.card__title {
  font-size: 1.49rem;
  font-weight: 700;
  color: var(--dark-blue);
  line-height: 2rem;
}

.card__description {
  color: var(--grayish-blue);
  font-weight: 400; 
  word-spacing: 0.133rem; 
  margin-top: 1.066rem;
  line-height: 1.2rem;
}

.attribution { 
  font-size: 0.733rem; 
  text-align: center; 
}

.attribution a { 
  color: var(--dark-blue); 
}

